@charset "utf-8";
/* CSS Document */

.colourpalette{
	width: 570;
	float: left;
	padding-left: 50px;
}
.colourpalette2{
	overflow: hidden;
	width: 570;
	display: inline-block;
	padding-left: 50px;
	
}

.maincolour {
	border-bottom-color: #fafafa;
	width: 500px;
	height: 110px;
	margin: 3px 30px 3px 30px;
	/*border: 3px solid */
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 10px 10px 10px 10px;
	clear: both;
	display: inline-block;
}
.maincolour2 {
	border-bottom-color: #fafafa;
	width: 500px;
	height: 110px;
	margin: 3px 30px 3px 30px;
	/*border: 3px solid */
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 10px 10px 10px 10px;
	float: right;
	display: inline-block;
}
.shadeDark{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
	font-size: 13px;
    font-weight: 500;
	margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
}

.clchart {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
	font-size: 13px;
	font-weight: 500;
	float: right;
    text-transform: uppercase;
    display: block;
}
.colourDark{
	color: #212121;
    font-size: 13px;
    width: 500px;
	height: 24px;
	margin: 0px 30px 0px 30px;
	padding: 10px 10px 10px 10px;
    word-wrap: break-word;
	border: 0;
    /*float: inherit;*/
    vertical-align: baseline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.greenPalette{
	color: #212121;
	font-size: 13;
	width: 500;
	height: 24px;
	margin: 0px 30px 0px 30px;
	padding: 10px 10px 10px 10px;
    word-wrap: break-word;
	border: 0;
	vertical-align: baseline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	clear: both;
	/*display: block;*/
}
.whiteShade{
	color:beige;
    font-size: 13px;
	font-weight: 500;
    width: 500px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 0px;
    word-wrap: break-word;
	border: 0;
	
    /*font: inherit;*/
    vertical-align: baseline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.clcWhite{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: beige;
	font-size: 13px;
	font-weight: 500;
	float: right;
    text-transform: uppercase;
    display: block;
	
}
.clBreak{
	color: #212121;
    font-size: 13px;
    width: 500px;
	height: 24px;
	margin: 3px 30px 0px 30px;
	padding: 10px 10px 10px 10px;
    word-wrap: break-word;
	border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.greenCon{
	color: #212121;
    font-size: 13px;
    width: 500px;
	height: 24px;
	margin: 3px 30px 0px 30px;
	padding: 10px 10px 10px 10px;
    word-wrap: break-word;
	border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}



	
	
